@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown-primary: #3f2305;
  --beige-secondary: #dfd7bf;
  --lightbeige-accent: #f2ead3;
  --lightbeige-bg: rgba(242, 234, 211, 0.4);
  --lightgrey-bg: #f5f5f5;
  --red-fav: #ff6378;
  --red-delete: #ff323f;
  --red-hot: rgba(255, 0, 0, 0.2);
  --blue-cold: #d6eff5;
}
